@page
@model MediaBazaarWebsite.Pages.AdminPageModel
@{
}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">New Employees Last Month</h6>
                    <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>
                       @Model.Hired1Month
                    </span></h2>
                    
                </div>
            </div>
        </div>

         <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">New Employees in Last 3 Months</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Hired6Month
                        </span>
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">New Employees in Last 6 Months</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Hired6Month
                        </span>
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20">New Employees in Last Year</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Hired1Year
                        </span>
                    </h2>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-yellow order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Deactivated Employees</h6>
                    <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>
                        @Model.Deactivated
                        </span></h2
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Fired Employees Last Month</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Fired1Month
                        </span>
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Fired Employees in Last 3 Month</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Fired3Month
                        </span>
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Fired Employees in Last 6 Month </h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Fired6Month
                        </span>
                    </h2>

                </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Fired Employees Last Year</h6>
                    <h2 class="text-right">
                        <i class="fa fa-cart-plus f-left"></i><span>
                            @Model.Fired1Year
                        </span>
                    </h2>

                </div>
            </div>
        </div>
    </div>
</div>