@page
@model MediaBazaarWebsite.Pages.ScheduleModel
@{
}
<h1>Your Scheduled Work Plan, @Model.FirstName @Model.LastName</h1>

<div class="row">
    @if (Model.Worksheets.Any())
    {
        foreach (var worksheet in Model.Worksheets)
        {
            <div class="col-md-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">Worksheet #@worksheet.id</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Time Slot:</strong> @worksheet.timeSlot</p>
                        <p class="card-text"><strong>Week Day:</strong> @worksheet.weekDay</p>
                        <p class="card-text"><strong></strong> @ScheduleModel.WeekNumberToMonthAndWeek(worksheet.weekNr)</p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="alert alert-info" role="alert">
                You currently have no scheduled worksheets.
            </div>
        </div>
    }
</div>
